#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
}

#history-section .hotel-img {
    display: none;
}

#history-section .hotel-history {
    width: 100%;
    text-align: center;
}

#activities .box {
    float:none;
    width: 100%;
    border-top: 1px solid;
}


#about .about-text, #about .about-img {
    float: none;
    width: 100%;
}

#contact-form .container h1, 
#contact-form .container p {
    text-align: center;
}

#contact .box{
    float:none;
    width: 100%;
}